# sbt
target/
project/target/
project/project/
project/resources/
.bsp/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

# VSCode
.vscode/
.metals/
.bloop/

# Misc
*.class
*.log
/lib/
/resources/inputFile1/
/resources/inputFile2/
/resources/logs/
